<div class="row justify-content-center">
  <div class="col-4">
    <%= title 'Forgot your password?' %>
    <hr>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit 'Send me reset password instructions', class: 'btn btn-block btn-success' %>
      </div>
    <% end %>

    <hr>
    <%= render 'devise/shared/links' %>
  </div>
</div>