<div class="row">
  <% @offers.each do |offer| %>
  <div class="col-md-4 mb-3">
    <div class="card">
      <%= card_image offer.photos %>

      <div class="card-body">
        <h4 class="card-title mb-2"><%= offer.title %></h4>

        <span class="badge badge-primary"><%= offer.category.capitalize %></span>
        <span class="badge badge-secondary"><%= offer.view_count %> views</span>
        <span class="badge badge-success">$ <%= offer.price %></span>

        <p class="card-text mt-2"><%= summarize offer.description %></p>

        <%= link_to 'See offer', offer, class: 'btn btn-sm btn-success' %>
      </div>
      <div class="card-footer">
        <small class="text-muted">Posted at <%= date_humanize offer.created_at %></small>
      </div>
    </div>
  </div>
  <% end %>
</div>