<%= title 'My offers' %>
<hr>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Price</th>
      <th>Description</th>
      <th>1st photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.title %></td>
        <td><%= offer.category %></td>
        <td><%= offer.price %></td>
        <td><%= offer.description %></td>
        <td><%= image_tag(offer.photos[0].url, class: 'img-fluid') unless offer.photos.empty? %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Offer', new_offer_path, class: 'btn btn-success'  %>
