<%= title @offer.title %>
<p>
  <small class="text-muted">Published at <%= date_humanize @offer.created_at %></small>
</p>

<% if can? :manage, @offer %>
<%= link_to "Edit", edit_offer_path(@offer), class: 'btn btn-sm btn-warning' %>
<%= link_to 'Destroy', @offer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
<% end %>

<hr>

<div class="row">
  <div class="col-md-6">
    <span class="badge badge-primary"><%= @offer.category.capitalize %></span>
    <span class="badge badge-secondary"><%= @offer.view_count %> views</span>
    <span class="badge badge-success">$ <%= @offer.price %></span>

    <p class="mt-3 mb-1 "><strong>Description</strong></p>
    <p><%= @offer.description %></p>

    <div class="px-5">

      <% unless @offer.photos.empty? %>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @offer.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= 'active' if index == 0 %>">
                <%= image_tag(photo.url, class: 'd-block w-100') %>
              </div>
            <% end %>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <%= render 'seller' %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-9">
    <%= title 'Related offers'%>
    <hr>

    <%= render 'home/offers', offers: @offers %>
  </div>
</div>
