<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @offer.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @offer.photos %>
</p>

<% if can? :manage, @offer %>
  <%= link_to 'Back', offers_path %>
  <%= link_to "Edit", edit_offer_path(@offer) %>
  <%= link_to 'Destroy', @offer, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

