<!DOCTYPE html>
<html>
<head>
  <title>Marketplace</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <body>
    <%= render 'layouts/menu' %>

    <div class="container" style="margin-top: 30px; margin-bottom: 30px">
      <% if notice %>
        <div id="notice" class="alert alert-info alert-dismissible fade show" role="alert">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert">
              <span>&times;</span>
            </button>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
          </button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
  </html>
